.map-wrapper {
	width: 700px;
	height: 700px;
	position: relative;
	overflow: hidden;
}

.container, .map {
	width: 100%;
	height: 100%;
	position: absolute;
	object-fit: contain;
}

.mark {
	position: absolute;
	z-index: 10;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	background: white;
	border: 1px solid #000;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transform: translate(-50%, -50%);
}

.mark input {
	opacity: 0%;
}

.spawn {
	top: 49.5%;
	left: 50%;
}

.alt-base {
	top: 43.3%;
	left: 43%;
}

.golden-base {
	top: 52.5%;
	left: 49%;
}

.lux-base {
	top: 55.2%;
	left: 51.8%;
}

.coliseum {
	top: 56.7%;
	left: 47.5%;
}

.clash-royale {
	top: 56.7%;
	left: 46.5%;
}

.squid-game {
	top: 62.5%;
	left: 19%;
}

.backrooms {
	top: 49.2%;
	left: 4.7%;
}

.interstellar {
	top: 74%;
	left: 23.3%;
}

.nuar-city {
	top: 71.5%;
	left: 46.5%;
}

.vavilone {
	top: 21.6%;
	left: 68.5%;
}

.cristmas-house {
	top: 4.1%;
	left: 91.7%;
}

.kold-base {
	top: 50.1%;
	left: 37%;
}

.nest-base {
	top: 48.3%;
	left: 41.5%;
}

.fishing-spot {
	top: 27.9%;
	left: 29.7%;
}

.golden-statue {
	top: 53.8%;
	left: 50.2%;
}

.volleyball {
	top: 41.6%;
	left: 44%;
}

.scene {
	top: 57.6%;
	left: 48.6%;
}

.popup {
	z-index: 200;
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	transition: 0.6s;
}

.popup-content {
	backdrop-filter: blur(4px);
	width: 40vw;
	margin: 10% auto;
	position: relative;
	border: 2px solid white;
}

.popup-img {
	width: 100%;
}

.slide {
	display: none;
}


.popup-discription {
	padding: 20px;
	
}

.popup h3 {
	color: white;
	font-family: "F77 Minecraft";
	font-weight: 900;
	font-size: 24px;
	letter-spacing: 0.075em;
}

.popup p {
	color: white;
	font-family: "F77 Minecraft";
	font-weight: 900;
	font-size: 12px;
	letter-spacing: 0.075em;
}

.close {
	position: absolute;
	color: white;
	top: 10px;
	right: 15px;
	cursor: pointer;
	font-size: 30px;
	font-weight: 900;
	z-index: 201;
}

.arrows-container {
	z-index: 250;
	position: absolute;
	width: 100%;
	margin-top: 25%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.arrows-container i {
	color: white;
	font-size: 48px;
	cursor: pointer;
	user-select: none;
}

.dot-container {
	z-index: 250;
		position: absolute;
		width: 100%;
		margin-top: 47%;
		display: flex;
		justify-content: center;
		align-items: flex-end;
}

.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.active, .dot:hover {
	background-color: #717171;
}

.fade {
	animation-name: fade;
	animation-duration: 1.5s;
}

@keyframes fade {
	from {
		opacity: .4
	}

	to {
		opacity: 1
	}
}

@media screen and (max-width: 1600px) {
	.mark {
		width: 15px;
		height: 15px;
	}
}

@media screen and (max-width: 1200px) {
	.mark {
		width: 10px;
		height: 10px;
	}
	.popup-content {
		width: 60vw;
		margin-top: 5%;
	}
}

@media screen and (max-width: 600px) {
	.mark {
		width: 5px;
		height: 5px;
	}
	.popup-content {
		width: 80vw;
		margin-top: 25%;
	}
}