@font-face {
	font-family: 'Kallisto';
	src: url('../fonts/kallisto_thin-webfont.eot');
	src: url('../fonts/kallisto_thin-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/kallisto_thin-webfont.woff2') format('woff2'),
		url('../fonts/kallisto_thin-webfont.woff') format('woff'),
		url('../fonts/kallisto_thin-webfont.ttf') format('truetype'),
		url('../fonts/kallisto_thin-webfont.svg#Tilt Warp') format('svg');
}

@font-face {
	font-family: 'F77 Minecraft';
	src: url('../fonts/F77-Minecraft.eot');
	src: url('../fonts/F77-Minecraft.eot?#iefix') format('embedded-opentype'),
		url('../fonts/F77-Minecraft.woff2') format('woff2'),
		url('../fonts/F77-Minecraft.woff') format('woff'),
		url('../fonts/F77-Minecraft.svg#F77-Minecraft') format('svg');
		font-weight: normal;
		font-style: normal;
		font-display: swap;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	background: #262729;
}

.main-container {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.map-wrapper {
	align-self: center;
	position: relative;
	max-width: 1200px;
	width: 100%;
	margin: 0;
	padding: 0;
	flex: 1 1 auto;
	border: 2px solid white;
}

.map {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.loader-container {
	position: fixed;
	z-index: 100;
	background: wheat;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	transition: 0.6s;
}

.loader-text p {
	font-family: "F77 Minecraft";
	font-weight: 900;
	font-size: 24px;
	color: black;
	letter-spacing: 0.075em;
}

.hide {
	opacity: 0;
}

header {
	width: 100vw;
	display: flex;
	justify-content: center;
	backdrop-filter: blur(2px);
	border-bottom: 2px solid white;
}

.header-container {
	max-width: 1200px;
	width: 100%;
	height: 10vh;
	z-index: 10;
	position: relative;
	top: 0;
	left: 0;
}

.header-content {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navbar {
	width: 20vw;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.nav-link {
	text-align: center;
	text-decoration: none;
	font-family: "F77 Minecraft";
	font-weight: 900;
	font-size: 12px;
	color: white;
	letter-spacing: 0.075em;
	width: 130px;
	border-radius: 50px;
	transition: 0.6s;
}

.nav-link:hover {
	background-color: white;
	border: 2px solid black;
	color: black;
	transition: 0.6s;
}

.active-page {
	text-decoration: underline;
	font-size: 13px;
	font-weight: 1000;
}

.logo-container {
	height: 100%;
}

.logo-container img {
	height: 10vh;
}


footer {
	height: auto;
	width: !important 100vw;
	overflow: hidden;
	display: flex;
	justify-content: center;
	backdrop-filter: blur(2px);
	border-top: 2px solid white;
}

.footer-container {
	max-width: 1200px;
	width: 100%;
	height: 10vh;
	position: relative;
	z-index: 10;
	bottom: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer-container p {
	font-family: "Kallisto", sans-serif !important;
	font-weight: 900;
	font-size: 24px;
	color: white;
	letter-spacing: 0.075em;
}
.footer-container img {
	height: 100%;
	margin-right: 50px;
	bottom: -10px;
	position: relative;
}

@media screen and (max-width: 600px) {
	.footer-container p {
		font-size: 24px;
	}

	footer {
		height: auto;
	}

	.footer-container {
		height: auto;
		display: flex;
		flex-direction: column-reverse;
		align-items: center;
		
	}

	.footer-container img {
		height: 330px;
		margin-right: 0.5em;
	}
	
	.navbar {
		justify-content: center;
	}
	.nav-link {
		margin-right: 20px;
	}
}

